@media (max-width: 1650px) {
  .review::after {
    bottom: -200px;
  }
}

@media (max-width: 1500px) {
  .discount::after,
  .review::after,
  .sale::after,
  .benefits::after {
    bottom: -250px;
  }
  .price::before {
    right: 70%;
    left: auto;
  }
}
